## INAPPROPRIAMATIC
## inappropriamatic.tumblr.com

[credentials]
email: inappropriamatic@gmail.com
password: hunter2


[submission]
type: photo

# your blog's name
group: inappropriamatic-b.tumblr.com

# go straight to blog.
state: published


[directories]
porn-folder: /home/inappropriamatic/.porn
posted-folder: /home/inappropriamatic/.porn


[logging]
logfile = /home/inappropriamatic/misc/autotumblr.log
